
* {
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

    a:hover {
        color: #80ED99;
    }

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #80ED99;
    padding: 3vh 5vh;
}

    nav span {
        font-size: 20px;
    }

        nav span i {
            padding-right: 1vh;
            font-size: 3.5vh;
        }



.card {
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 55vh;
    margin: 12vh auto;
    animation: fade 250ms ease-in-out forwards;
    border: none;
}

.login-pos {
    margin-top: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-lab {
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    width: 42vh;
}

    .login-lab .form-group input {
        border: 2px solid #80ED99;
        outline: 2px auto #80ED99;
    }



.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
}

    .form-group:last-child {
        margin: 0;
    }

    .form-group > label {
        font-weight: bold;
        font-size: .8em;
        color: #333;
    }

    .form-group > input {
        border: 2px solid #80ED99;
        border-radius: .25em;
        font-size: 1rem;
        padding: 1vh 2vh;
        margin-bottom: 1.5vh;
        outline: 1px auto #80ED99;
    }

.step-title {
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;
}

.card.active {
    animation: slide 250ms 125ms ease-in-out both;
}

.multi-step-form {
    overflow: hidden;
    position: relative;
}





.hide {
    display: none;
}


.pos-btn {
    display: flex;
    justify-content: center;
}

    .pos-btn button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.5vh 2vh;
        font-size: 1.2rem;
        background-color: #80ED99;
        border: none;
    }


.card-upload {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #80ED99;
    height: 40vh;
    font-size: 11px;
}

.button-next-submit button {
    width: 100%;
    padding: 1vh 2vh;
    background-color: #80ED99;
    border: none;
    font-size: 1.2rem;
    border-radius: .25em;
}



.input-file {
    text-align: center;
    border: 2px solid #80ED99;
    border-radius: .25em;
    font-size: 1rem;
    padding: 1vh 2vh;
    margin-bottom: 1.5vh;
    outline: 1px auto #80ED99;
}

input[type="file"] {
    display: none;
}

label {
    cursor: pointer;
}

#imageName {
    color: green;
}

.inputTag {
    color: #333;
}

@keyframes slide {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(.75);
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}
