<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="GLAB.Web1.styles.css" />
    <link rel="stylesheet" href="../Dcss/CreateLabo.css" />
    <link rel="stylesheet" href="../Dcss/LoginUserv4.css"/>
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="../Djs/createlabo.js"></script>
    <script src="../Djs/LoginUser.js"></script>
    <script src="https://kit.fontawesome.com/dc476cd79a.js" crossorigin="anonymous"></script>
</body>

</html>
