@page "/LoginUser"

<body>
    <nav class="nav-LoginUser">

        <div class="logonav">
            <img src="../Dimage/9.svg">

        </div>

    </nav>

    <section class="loginform">



        <div class="logincontent">

            <div class="LoginTitel">
            </div>
            <h2>Login</h2>
            <form method="post" action="/Login/Login">

                <span> <input type="text" name="username" placeholder="Email adrress"></span>
                <span class="input-pas-icon">  <input type="password" name="password" placeholder="Password" id="myInput"> <button type="button" onclick="myFunction()" id="style-hide-btn"><i class="fa-regular fa-eye"></i></button></span>
                <a href="#">Forget Password?</a>

                <button type="submit">Login</button>



            </form>
        </div>




    </section>



</body>